body{
  text-align: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}
nav{
  background-color: rgb(9, 9, 99);
  display: flex;
  justify-content: center;
  gap: 15%;
  align-items: center;
  height: 40px;
}
a{
  text-decoration: none;
  color: white;
  font-size: 19px;
}
a:hover{
  opacity: 0.7;
}
.gridApply{
  width: 100%;
  display: grid;
  background-color: rgb(29, 137, 137);
  grid-template-columns: 1fr 1fr;
  height: 40vh;
}
.emoji{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 150px;
}.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
  
}
.dogImage {
  width: 350px;
  border-radius: 10px;
  height: 300px;
  margin-top: 30px;
}
.search-button{

  width: 150px;
  height: 25px;
  border-radius: 20px;
  font-size: 17px;
  margin-left: 30px;
  cursor: pointer;

}
.search-button:hover{
  opacity: 0.7;
}

.factContainer{
  width: 100%;
  height: 91.8vh;
background-image: url(./assets/image.png);
background-size: cover;
  padding-top: 20px;
  background-color: aqua;
}


.fact button{
  height: 25px;
  width: 100px;
  background-color: tomato;
  border: none;
  border-radius: 30%;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
.fact button:hover{
  opacity: 0.7;
}
.fact button:active{
  opacity: 0.6;
}
.fact{
  margin-top: 8%;
  background-color: cadetblue;
  border-radius: 100px;
  width: 40%;
  margin-left: 30%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
 
  font-size: 18px;
}
.adoptionListContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  row-gap: 20px;
}
.adoptionListContainer div{
  background-color: coral;
  border-radius: 20px;
}
.adoptionListContainer div img{
  width: 90%;
  height: 200px;
 
}
.care-tips-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

}
.care-tips-container div {
  background-color: gray;
  border: solid 2px black;
  border-radius: 20px;
}
.care-tips-container div ul li {
  list-style: none;
}
iframe{
  margin-right: 20px;
  margin-bottom: 20px;
}
.food li{
  list-style-type: none;
}

.quizContainer{
  background-color: brown;
  width: 40%;
height: auto;
  margin-left: 30%;
  position: relative;
}
.quizContainer button{
  width: 90%;
  margin-right: 10%;
  height: 40px;
  margin-bottom: 20px;
  background-color: white;
  border: 2px solid black;
 
  text-align: left;
  cursor: pointer;
}

#next{
  width: 110px;
  font-size: 17px;
  border: 1px solid black;
  background-color: cornflowerblue;
  display: block;
  text-align: center;
  margin-left: 38%;
  margin-top: 30px;
}
.quizContainer .green{
  background-color: green;
}
.quizContainer .red{
  background-color: red;
}
.breedContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 90%;
  margin-left: 5%;
  margin-top: 5rem;
  row-gap: 4rem;
  
}
.breedContainer div img{
  width: 100%;
  height: 250px;
}
.breedContainer div h4{
  margin-bottom: 0;
}
.breedContainer div{
  min-height: 400px;
  height: auto;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}
.filteredDog{

  width: 80%;
  height: 50vh;
  margin-left: 10%;
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.filteredDog .dog-info{
  text-align: left;
  margin-left: 20px;

}
.search-input{
  width: 250px;
  border-radius: 20px;
  margin-right: 20px;
  height: 30px;
}
.search-button{
  width: 120px;
  height: 30px;
  border: none;
  background-color: darkslategrey;
  cursor: pointer;
  color: white;
}
.search-button:hover{
  opacity: 0.7;
}
.dog-info .back-button{
  width: 80px;
  height: 35px;
  font-size: 17px;
    color: white;
    background-color: darkslategrey;
   border: none; 
   cursor: pointer;
}
.dog-info .back-button:hover{
  opacity: 0.7;
}
.filteredDog h1 p {
  display: inline;
  font-size: 15px;
  color: gray;
}
.filteredDog img{
  width: 100%;
  height: 460px;
}
.breedContainer div:hover{
  transform: scale(1.1);
}
@media (max-width: 767px){
  *{
      font-family: Arial, Helvetica, sans-serif;
  }
  .breedContainer{
    grid-template-columns: 1fr;
  }
  .search-button{
    margin-top: 20px;
  }
  .adoptionListContainer{
    grid-template-columns: 1fr;
  }
  .adoptionListContainer div img{
    width: 100%;
  }
  .navContainer{
    gap: 10%;
  }
  .factContainer{
      width: 100%;
  
  }
  .fact{
    width: 90%;
    margin-left: 5%;
    margin-top: 30%;
  }
  .care-tips-container{
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  iframe{
    width: 90%;
    margin: 0;
    margin-left: 5%;
  }
  .quizContainer{
    width: 90%;
    margin-left: 5%;
  }
  .filteredDog{
    grid-template-columns: 1fr;
  }

}
@media (min-width: 768px) and (max-width: 1232px){
  .adoptionListContainer{
    grid-template-columns: 1fr 1fr 1fr;
  }
 
  .factContainer{
      width: 100%;
   height: 100vh;
 
  }
  .breedContainer{
    grid-template-columns: 1fr 1fr;
  }
  .fact{
    width: 60%;
    margin-top: 20%;
    margin-left: 20%;
  }
  .quizContainer{
    width: 60%;
    margin-left: 20%;
  }
  .care-tips-container{
    grid-template-columns: 1fr 1fr;
  }
}